<footer>
  <div class="container-fluid pt-2 my-md-5 pt-md-3 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img
          class="Logo ml-4"
          src="./assets/images/Logo.jpg"
          alt=""
          width="89"
          height="54"
        />
        <p class="d-block ml-5 mb-3 text-muted">&copy; 2020</p>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>Features</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/">Starships</a></li>
        </ul>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>Contact</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/login">Login</a></li>
          <li>
            <a class="text-muted" routerLink="/account">Register</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md text-center text-md-left">
        <h5>About</h5>
        <ul class="list-unstyled text-mdall">
          <li><a class="text-muted" routerLink="/location">Location</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
