<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-md-12 slogan">
      <div class="row">
        <div class="col-md-10">
          <h2 class="pt-sm-5 pl-sm-4 text-white display-2 slide-in-left-f">
            Massimo Dutti & Star Wars
            <br />
            Collab 2020
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 button pt-sm-3">
          <a
          routerLink="/login"
            class="btn btn-secondary btn-sm text-white slide-in-left-s float-sm-right float-sm-right"
          >
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
