<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-11 d-flex justify-content-end"><button *ngIf="auth.userToken" (click)='out()' class="btn btn-danger">Log out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4 d-flex justify-content-center">
      <h4>Total Starships ({{totalShips}})</h4>
    </div>
  </div>
    <div class="row d-flex justify-content-center">
      <div class="col-2">
        <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th class="w100">Image</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let visual of visuals" class="height">
                  <td><img [src]="visual" onerror="this.src='/assets/images/notFound2.jpg';" alt="" class="height img-fluid"></td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="col-8">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="w100">Name</th>
                        <th class="w100">Model</th>
                    </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let ship of ships" class="height2">
                        <td>{{ ship.name }}</td>
                        <td>{{ ship.model }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
  <div class="row">
    <div class="col-4 d-flex justify-content-center">
        <button (click)="onPageChanged(-1)" class="btn btn-secondary">Previous</button>
        &nbsp;
        <span>
          {{page}} / 4
        </span>
        &nbsp;
        <button (click)="onPageChanged(1)" class="btn btn-secondary">Next</button>
    </div>
  </div>
</div>

 


