<div class="container mt-5 pt-5 pb-5">
  <div class="card w-50 login-form mx-auto mt-4">
    <div class="card-body">
      <h3 class="card-title text-center">Reset password</h3>
      <div class="card-text">
        <form id="login-form" [formGroup]="form" (ngSubmit)="sign()">
          <div class="form-group text-center">
            <label for="email"
              >Enter your e-mail address and get a link to reset your
              password</label
            >
            <input
              type="email"
              class="form-control form-control-sm mt-2"
              placeholder="E-mail Address"
              formControlName="email"
              [class.is-invalid]="emailNotValid"
            />
            <small *ngIf="emailNotValid" class="text-danger"
              >Enter a valid e-mail</small
            >
          </div>
          <button
            id="submit-button"
            type="submit"
            class="btn btn-secondary btn-block"
          >
            Send password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
